*, *:after, *:before {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  position: absolute;
  margin: 0;
  font-size: 62.5%;
  font-family: "Quicksand";
  min-height: 60em;
}

p {
  margin: 0;
}

.container .content a, .container .footer a {
  outline: none;
}

.back {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.vertex {
  fill: rgba(0, 0, 0, 0);
  stroke-width: 2px;
}

.edge {
  stroke: rgba(0, 0, 0, 0.1);
  stroke-width: 0.5px;
  transition: stroke 300ms;
}

.edge.mst {
  /* stroke: rgba(254, 101, 79, 0.5); */
  /* stroke: rgba(39, 251, 107, 0.5); */
  stroke: rgba(245, 47, 87, 0.3);
  stroke-width: 1px;
}

.container {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0 1em 0 20vw;
  margin: auto 0;
  height: 30em;
}

.container > .title {
  text-decoration: none;
  font-size: 4.5em;
  font-family: 'Cardo';
  line-height: 0.5;
  letter-spacing: 0.02em;
  color: #63D2FF;
  outline-color: #63D2FF;
  user-select: none;
  font-weight: normal;
  margin: 0 0 15px 0;
}

.container a {
  color: #170312;
  text-decoration: none;
}

.container .content {
  padding-right: 20px;
  width: 30em;
  font-size: 1.7em;
  color: #170312;
  text-align: left;
  line-height: 1.6;
  font-weight: bold;
}

.container * {
  text-align: left;
}

.container .content .header {
  display: block;
  margin-top: 20px;
}

.container .content .header a:hover, .container .content .header a:focus {
  text-decoration-style: dashed;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1.5em 1em;
  text-align: right;
}

.footer .link {
  padding: 0 1em;
}

.footer .link .icon {
  height: 3.5em;
  vertical-align: middle;
  padding: 0.5em 2em;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}

ul {
  margin: 0;
  padding: 0 0 0 10px;
  list-style: none;
}

ul li {
  border-left: 1px solid #170312;
  margin: 5px 0;
  transition: border-left 100ms;
}

ul li a {
  color: #170312;
  display: inline-block;
  padding: 0 10px;
  width: 100%;
  cursor: pointer;
}

ul li:hover {
  border-left: 3px solid #63D2FF;
}

.sub {
  font-size: 0.65em;
  padding: 0 15px;
  color: rgba(0, 0, 0, 0.5);
}

@media all and (max-width: 600px) {
  .container {
    width: 100%;
    min-height: 40em;
    padding: 15em 0 0 0;
    margin: 0 auto;
    width: 37em;
  }

  .container .content {
    margin: 0;
    width: 100%;
    padding: 0;
  }

  .footer {
    position: fixed;
    text-align: center;
    padding: 1em 0;
    border-top: 1px solid #dddddd;
    margin: 0 calc(50% - 50vw);
  }
}

@media all and (max-width: 400px) {
    .container {
        width: 35em;
    }
}

@media all and (max-width: 360px) {
  body {
    font-size: 2.5vw;
  }
}